.navbar.navbar-default
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
    = link_to "Wonolo", "javascript:void(0)", :class=>"navbar-brand"

    / Collect the nav links
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      %ul.nav.navbar-nav
        %li.active
          = link_to "Search Medias", "javascript:void(0)"
