.page-content
  .page-title
    = @title

  / Form search medias
  .row
    .col-xs-12
      .box-map
        #map-canvas.map
        .row
          .col-sm-8.form-group
            = text_field_tag :address, nil, :class => 'form-control', :placeholder => 'Address', :maxlength => 250
        .row
          .col-sm-3.form-group
            = text_field_tag :lat, nil, :class => 'form-control', :placeholder => 'Latitude*', :maxlength => 250
            .error-text
          .col-sm-3.form-group
            = text_field_tag :lng, nil, :class => 'form-control', :placeholder => 'Longitude*', :maxlength => 250
            .error-text
          .col-sm-2.form-group
            = select_tag :distance, options_for_select({"Distance" => "0", "0.5 Km" => "500", "1 Km" => "1000", "2 Km" => "2000", "3 Km" => "3000", "4 Km" => "4000", "5 Km" => "5000"}, "1000"), :class=>"form-control"
            .error-text
          .col-sm-2.form-group
            = button_tag :class => 'btn btn-default btn-search' do
              %i.glyphicon.glyphicon-search
              Search
  
  / List medias
  .row#list-medias

  #load-more.text-center
    = image_tag("/images/loading-small.gif")  
  
  .row.btn-actions.text-center
    %button.btn.btn-default.show-more
      = "Show More"

  %p#back-top
    %a{:href=>"#top"}
      %span.glyphicon.glyphicon-arrow-up


  / The Gallery as lightbox dialog, should be a child element of the document body
  #blueimp-gallery.blueimp-gallery
    .slides
    %h3.title
    %a.prev= "‹"
    %a.next= "›"
    %a.close= "×"
    %a.play-pause
    %ol.indicator
