#list-medias .col-sm-3 {
  padding-left: 0;
}

.box-map {
  border: 1px dashed #DDD;
  padding: 15px;
  background: #F6FFFC;
}
.navbar-default {
  background-color: #004940;
  border-color: #003C34;
  border-radius: 0;
}

.navbar-default .navbar-brand, 
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active {
  color: white;
  text-transform: uppercase;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
  color: white;
  background-color: #006E60;
}

.error-text {
  font-size: 90%;
  color: red;
  margin-top: 2px;
}

.map {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
}

.page-title {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #004940;
}

.form-group {
  margin-bottom: 10px;
}

#load-more {
  display: none;
}

.empty-data {
  font-style: italic;
}

#list-medias {
  margin: 10px 0 20px 0;
}

.btn-actions {
  margin-bottom: 40px;
}

.item {
  border: 1px solid #E2E2E2;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
}

.item-header {
  padding-bottom: 5px;
  height: 44px;
}

.item img {
  width: 100%;
}

.item-owner {
  position: absolute;
  width: 40px;
  top: 10px;
  left: 10px;
}

.item-owner-content {
  margin-left: 45px;
}

.item-owner-name {
  font-weight: bold;
}

.item-time {
  display: inline-block;
  float: left;
  color: #A9A9A9;
  font-size: 11px;
}

.item-owner img {
  border-radius: 10px;
  border: 1px solid rgb(224, 224, 224);
  width: 40px;
  height: 40px
}

.clear {
  clear: both;
}

.show-more {
  display: none;
}

/*CSS for back to top*/
#back-top {
  position: fixed;
  bottom: 15px;
  right: 20px;
}

#back-top a {
  width: 45px;
  height: 45px;
  background: #006E60;
  display: block;
  border: 1px solid #004940;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 8px;
  font-size: 24px;
  line-height: 45px;
}
#back-top a:hover {
  background: #004940;
}
