!!!
%head
  %title
    Wonolo
    = " » #{@title}" unless @title.nil? || @title.empty?
  %link{:href => '//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css', :rel => 'stylesheet'}
  %link{:href => '//fonts.googleapis.com/css?family=Raleway:400,100,200,300,600,500,700,800,900', :rel => 'stylesheet', :type => 'text/css'}
  = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => false
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags
%body#top
  / Header section
  %header#header
    = render partial: 'layouts/shared/header'

  / Main content
  .container
    %section#mainContent
      = yield
